<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <ApplicationRevision>18</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net5.0</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.htm</WebPageFileName>
    <History>True|2021-12-21T14:13:52.2329775Z;True|2021-12-21T14:06:16.3835099+00:00;True|2021-12-21T14:04:44.7480537+00:00;True|2021-12-21T14:03:58.2634997+00:00;True|2021-12-21T14:02:55.9586175+00:00;True|2021-12-21T14:01:52.3710568+00:00;True|2021-12-21T14:00:35.4978483+00:00;True|2021-12-21T13:59:46.0819943+00:00;True|2021-12-21T13:52:23.0039247+00:00;False|2021-12-21T13:51:58.2852449+00:00;True|2021-12-21T13:28:06.2028280+00:00;True|2021-12-21T13:26:09.0938026+00:00;True|2021-12-21T13:24:30.1503453+00:00;True|2021-12-21T13:19:30.7120737+00:00;True|2021-12-21T13:13:46.7343818+00:00;True|2021-12-21T00:37:12.0188854+00:00;True|2021-12-21T00:36:54.5810556+00:00;</History>
  </PropertyGroup>
</Project>